.connect {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
  padding: 0.25em;
  width: 500px;
  max-width: 100%;
  input {
    width: 200px;
    max-width: 100%;
    margin-bottom: 0.5em;
  }
  button {
    background: #1565C0;
    color: #fff;
    padding: 0.75em 2em;
  }
  .error {
    display: block;
    margin-top: 1em;
    word-wrap: break-word;
    color: #E53935;
    font-weight: 600;
  }
}
