@require "../node_modules/normalize.css/normalize.css";
@require "../node_modules/papier/src/grid.styl";
@require "../node_modules/papier/src/util.styl";
@require "toast.styl";
@require "connect.styl";
@require "repl.styl";

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html, button, input, textarea, table {
  box-sizing: border-box;
  font: 400 14px 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

html, body {
  height: 100%;
  background: rgb(232, 232, 232);
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: 0;
  border-radius: 2px;
  padding: 0.75em 2em;
  background: #fff;
  @extend .depth-1;
  transform-origin: 0% 50%;
  transition: all 250ms;
  &:hover {
    @extend .depth-2;
  }
}

input, textarea {
  border: 0;
  border-radius: 2px;
  padding: 0.75em;
  background: #fff;
  @extend .depth-1;
  transition: all 250ms;
  width: 100%;
  &:focus {
    outline: 0;
    @extend .depth-2;
  }
}

