@require "../../node_modules/papier/src/util.styl";

.schema-selection {
  position: absolute;
  background: red;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  @extend .depth-1;
  background: #fff;
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  overflow: auto;
  z-index: 1000000;
  li {
    margin: 0;
    padding: 0.75em 1em;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: 0;
    }
    &.section {
      background: #f7f7f7;
    }

  }
/*  .schema {
    padding: 0.5em 1em;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: 0;
    }
    strong {
      margin-bottom: 1em;
      display: block;
    }
    li.table {
      margin-left: 0.5em;
      padding: 0.5em 1em;
      border-bottom: 1px solid #fff;
    }
  }
*/
}

.repl {
  display: flex;
  flex-direction: column;
  height: 100%;
  nav {
    order: 1;
    flex: none;
    background: #fff;
    @extend .depth-2;
    padding: 0.5em;
    button {
      color: #333;
      padding: 0.5em 1.5em;
      &:focus {
        outline: none;
      }
    }
    .logo {
      text-align: center;
      a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }
      padding: 0.5em 1.5em;
    }
    .logout {
      text-align: right;
    }
  }

  form.sqlQuery {
    order: 2;
    margin: 1em;
    flex: none;
    position: relative;
    textarea {
      resize: vertical;
      height: 75px;
    }
    button[type=submit] {
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 600;
      color: #fff;
      background: #1E88E5;
      padding: 0.5em 2em;
      margin: 0.75em;
      &:active {
        transition: all 100ms;
        transform: translateY(3px);
      }
      &:focus {
        outline: 0;
      }
    }
  }

  table {
    order: 3;
    display: block;
    overflow: auto;
    background: #fff;
    width: 100%;
    table-layout: fixed;
    thead {
      border-bottom: 1px solid #ccc;
      tr {
        th {
          padding: 0.5em;
          text-align: left;
          .format {
            font-weight: 400;
            color: #ccc;
            display: block;
            font-size: 0.75em;
            text-transform: uppercase;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #eee;
        transition: all 200ms;
        &:last-child {
          border-bottom: 0;
        }
        &:nth-child(odd) {
          background: #f9f9f9;
        }
        &:hover {
          background: #eee;
        }
        td {
          padding: 0.5em;
          border-right: 1px solid #eee;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}
